<div class="flex items-center justify-between">
  <p-button label="Filtrar" icon="bx bx-filter" styleClass="button-theme"></p-button>
  <p-button label="Nova Região" icon="bx bx-plus" styleClass="button-theme" routerLink="new"></p-button>
</div>

<p-table [value]="regions$ | async"
         [paginator]="true" [totalRecords]="totalRecords"
         styleClass="p-datatable-striped mt-3"
         [(first)]="first" [rows]="pageSize" [responsive]="true">
  <ng-template pTemplate="header">
    <tr>
      <th style="width: 5rem" class="text-center">#</th>
      <th class="text-center">Nome da Região</th>
      <th style="width: 10rem" class="text-center">Situação</th>
      <th style="width: 10rem" class="text-center">Cidades</th>
      <th style="width: 8rem" class="text-center">
        <i class="bx bx-cog"></i>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-i="rowIndex" let-region>
    <tr>
      <td class="text-center">{{ i + 1 }}</td>
      <td>{{ region.nome }}</td>
      <td class="text-center">
        <span class="p-tag p-tag-{{region.active ? 'success' : 'danger'}}">
          {{ region.active ? 'ATIVO' : 'INATIVO' }}
        </span>
      </td>
      <td class="text-center">{{ region.cidades?.length }}</td>
      <td>
        <div class="w-full flex items-center justify-center gap-3">
          <i class="pi pi-arrow-right-arrow-left cursor-pointer" (click)="changeStatus(region)"></i>
          <i class="pi pi-pencil cursor-pointer" [routerLink]="'/region/' + region.id"></i>
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>
