@import 'assets/layout/styles/layout.scss';

.p-button.button-theme {
  color: #ffffff;
  background: #002968;
  border: 1px solid #002968;
  &:enabled:hover {
    background: #002053;
    color: #ffffff;
    border-color: #002053;
  }
}

.card {
  background: #FFF;
  border: 1px solid #dfe7ef;
  margin-bottom: 2rem;
  border-radius: 12px;
  background: #ffffff;
  padding: 2.5rem 2rem 1.5rem;
}
